<section class="topband">
  <div class="container-centered">
    <span>Automation Rules</span>
    {{#link-to 'rules.new'}}
        <button style="float:right">{{svg-jar "plus" class="icons"}} New</button>
    {{/link-to}}
    </div>
</section>
